<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create a new Task</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">
</head>

<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/projectindex}">Projects</a></li>
  <li><a th:href="@{/resourceindex}">Resources</a></li>
  <li><a th:href="@{/skillindex}">Skills</a></li>
  <li><a th:href="@{/subprojectindex}">Subprojects</a></li>
  <li><a th:href="@{/taskindex}">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a th:href="@{/aboutus.html}">About Us</a>
      <a th:href="@{/contact.html}">Contact</a>
      <a th:href="@{/faq.html}">FAQ</a>
    </div>
  </li>
</ul>

<h1>Create a new Task</h1>
<form action="/tasks" method="post">
  <label for="name">Enter Task name</label>
  <input type="text" id="name" name="name">

  <label for="startDate">Enter start date</label>
  <input type="date" id="startDate" name="startDate">

  <label for="endDate">Enter end date</label>
  <input type="date" id="endDate" name="endDate">

  <label for="estimatedHours">Enter estimated hours</label>
  <input type="number" id="estimatedHours" name="estimatedHours">

  <label for="subprojectId">Enter SubProject ID</label>
  <input type="number" id="subprojectId" name="subprojectId">

  <input type="submit" value="Create a new Task" class="btn" id="btn-create">
</form>
</body>

</html>
