<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Create a new Project</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">

</head>
<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/projectindex}">Projects</a></li>
  <li><a th:href="@{/resourceindex}">Resources</a></li>
  <li><a th:href="@{/skillindex}">Skills</a></li>
  <li><a th:href="@{/subprojectindex}">Subprojects</a></li>
  <li><a th:href="@{/taskindex}">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a th:href="@{/aboutus.html}">About Us</a>
      <a th:href="@{/contact.html}">Contact</a>
      <a th:href="@{/faq.html}">FAQ</a>
    </div>
  </li>
</ul>

<h1>Create a new Project</h1>

<form action="/createproject" method="post">
  <label for="name">Enter Project name</label>
  <input type="text" id="name" name="name" required>

  <label for="description">Enter Project description</label>
  <input type="text" id="description" name="description">

  <label for="startDate">Enter start date</label>
  <input type="date" id="startDate" name="startDate" required>

  <label for="estimatedHours">Enter estimated hours</label>
  <input type="number" id="estimatedHours" name="estimatedHours">

  <label for="actualHours">Enter actual hours</label>
  <input type="number" id="actualHours" name="actualHours">

  <input type="submit" value="Create a new Project" class="btn" id="btn-create">
</form>
</body>
</html>
