<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Project Management Dashboard</title>
  <link rel="stylesheet" type="text/css" href="static/mycss.css">
</head>
<body>
<h1>Project Management Dashboard</h1>

<nav>
  <a href="/createproject">
    <button class="btn-create, btn" id="btn-create">Opret projekt</button>
  </a>
  <a href="/viewprojects">
    <button class="btn-viewOne" id="btn-viewOne">Vis projekter</button>
  </a>
  <a href="/timesummary">
    <button class="btn-viewOne" id="btn-viewOne">Tidsforbrugssummering</button>
  </a>
  <a href="/taskdistribution">
    <button class="btn-viewOne" id="btn-viewOne">Fordeling af tidsforbrug</button>
  </a>
  <a href="/ganttchart">
    <button class="btn-viewOne" id="btn-viewOne">Gantt-diagram</button>
  </a>
  <a href="/resourcetypes">
    <button class="btn-viewOne" id="btn-viewOne">Kompetencer/Resourcetyper</button>
  </a>
  <a href="/specificresources">
    <button class="btn-viewOne" id="btn-viewOne">Konkrete ressourcer</button>
  </a>
</nav>
</body>
</html>
