<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Resource Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">

</head>
<body>
<ul>
  <li><a href="/index">Home</a></li>
  <li><a href="/projectindex">Projects</a></li>
  <li><a href="/resourceindex">Resources</a></li>
  <li><a href="/skillindex">Skills</a></li>
  <li><a href="/subprojectindex">Subprojects</a></li>
  <li><a href="/taskindex">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a href="aboutus">About Us</a>
      <a href="contact">Contact</a>
      <a href="faq">FAQ</a>
    </div>
  </li>
</ul>
<h1>Resource list</h1>

<a href="/createresource">
  <button class="btn-create, btn" id="btn-create">Create a new resource</button>
</a>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="resource: ${resources}">
    <td th:text="${resource.id}"/>
    <td th:text="${resource.name}"/>
    <td>
      <a th:href="@{'/viewoneresource/'+${resource.id}}">
        <button class="btn-viewOne" id="btn-viewOne">View resource</button>
      </a>
      <a th:href="@{'/deleteresource/'+${resource.id}}">
        <button class="btn-deleteOne" id="btn-deleteOne">Delete resource</button>
      </a>
      <a th:href="@{'/updateresource/'+${resource.id}}">
        <button class="btn-updateOne" id="btn-updateOne">Update resource</button>
      </a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
