<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">
  <title>Top navbar</title>
</head>
<body>
<nav th:fragment="nav">
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/projectindex">Projects</a></li>
    <li><a href="/resourceindex">Resources</a></li>
    <li><a href="/skillindex">Skills</a></li>
    <li><a href="/subprojectindex">Subprojects</a></li>
    <li><a href="/taskindex">Tasks</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">About</a>
      <div class="dropdown-content">
        <a href="aboutus">About Us</a>
        <a href="contact">Contact</a>
        <a href="faq">FAQ</a>
      </div>
    </li>
  </ul>
</nav>
</body>
</html>
