<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Update Resource</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">

</head>
<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/projectindex}">Projects</a></li>
  <li><a th:href="@{/resourceindex}">Resources</a></li>
  <li><a th:href="@{/skillindex}">Skills</a></li>
  <li><a th:href="@{/subprojectindex}">Subprojects</a></li>
  <li><a th:href="@{/taskindex}">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a th:href="@{/aboutus.html}">About Us</a>
      <a th:href="@{/contact.html}">Contact</a>
      <a th:href="@{/faq.html}">FAQ</a>
    </div>
  </li>
</ul>

<h1>Update Resource</h1>

<form action="/updateresource" method="post">
  <input type="hidden" name="id" th:value="${resource.id}">

  <label for="name">Resource Name:</label>
  <input type="text" id="name" name="name" th:value="${resource.name}">

  <label for="totalHours">Total Hours:</label>
  <input type="number" id="totalHours" name="totalHours" th:value="${resource.totalHours}">

  <label for="rate">Rate:</label>
  <input type="number" id="rate" name="rate" th:value="${resource.rate}">

  <label for="skillId">Skill ID:</label>
  <input type="number" id="skillId" name="skillId" th:value="${resource.skillId}">

  <input type="submit" value="Save changes" class="btn" id="btn-updateOne">
</form>
</body>
</html>
