<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Update Project</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">

</head>
<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/projectindex}">Projects</a></li>
  <li><a th:href="@{/resourceindex}">Resources</a></li>
  <li><a th:href="@{/skillindex}">Skills</a></li>
  <li><a th:href="@{/subprojectindex}">Subprojects</a></li>
  <li><a th:href="@{/taskindex}">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a th:href="@{/aboutus.html}">About Us</a>
      <a th:href="@{/contact.html}">Contact</a>
      <a th:href="@{/faq.html}">FAQ</a>
    </div>
  </li>
</ul>

<h1>Update Project</h1>

<form action="/updateproject" method="post">
  <input type="hidden" name="id" th:value="${project.id}">

  <label for="name">Project Name:</label>
  <input type="text" name="name" th:value="${project.name}" required>

  <label for="description">Description:</label>
  <input type="text" name="description" th:value="${project.description}">

  <label for="startDate">Start Date:</label>
  <input type="date" name="startDate" th:value="${project.startDate}" required>

  <label for="estimatedHours">Estimated Hours:</label>
  <input type="number" name="estimatedHours" th:value="${project.estimatedHours}">

  <label for="actualHours">Actual Hours:</label>
  <input type="number" name="actualHours" th:value="${project.actualHours}">

  <input type="submit" value="Save changes" class="btn" id="btn-updateOne">
</form>
</body>
</html>
