<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>View Project</title>
  <link rel="stylesheet" type="text/css" href="/static/mycss.css">
  <link rel="stylesheet" type="text/css" href="/static/topnavbar.css">

</head>
<body>
<ul>
  <li><a th:href="@{/index}">Home</a></li>
  <li><a th:href="@{/projectindex}">Projects</a></li>
  <li><a th:href="@{/resourceindex}">Resources</a></li>
  <li><a th:href="@{/skillindex}">Skills</a></li>
  <li><a th:href="@{/subprojectindex}">Subprojects</a></li>
  <li><a th:href="@{/taskindex}">Tasks</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a th:href="@{/aboutus.html}">About Us</a>
      <a th:href="@{/contact.html}">Contact</a>
      <a th:href="@{/faq.html}">FAQ</a>
    </div>
  </li>
</ul>

<h1>Project Details</h1>

<p><strong>ID:</strong> <span th:text="${project.id}"/></p>
<p><strong>Name:</strong> <span th:text="${project.name}"/></p>
<p><strong>Start Date:</strong> <span th:text="${project.startDate}"/></p>
<p><strong>End Date:</strong> <span th:text="${project.endDate}"/></p>
<p><strong>Description:</strong> <span th:text="${project.description}"/></p>
<p><strong>Estimated Hours:</strong> <span th:text="${project.estimatedHours}"/></p>
<p><strong>Actual Hours:</strong> <span th:text="${project.actualHours}"/></p>

</body>
</html>
